.add-button {
    background-color: rgb(102, 102, 102);
    color: aliceblue;
    color: success;
    size: lg;
    height: 25px;
    width : 40px;
    border: 0;
    margin-left: 1%;
}

.border{
    border: 2px solid black;
    width: 300px;
    margin-bottom: 5px;
    text-align: flex-start;
    display: flex;
    justify-content: space-between;
}

.border:hover {
    background-color: rgb(224, 223, 223);
}

.border:active {
    background-color: rgb(189, 189, 189);
}
  
.to-do-group-container{
    display: inline-block;
}

.done-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    text-align: center;
    height: 20px;
    width: 20px;
    float: right;
}

.strikethrough-text {
    text-decoration:line-through;
}

